.eslintrc.js

node_modules
dist
src/test-utils
src/index.tsx
src/core/shared
src/core/infrastructure
src/modules/authenticator-handler
src/modules/detail-offer
src/reportWebVitals.ts
src/registry-wc
src/*
coverage
config
.scannerwork
